<!-- Project View Index -->
@{
    ViewData["Title"] = "Job View";
}

<div id="div_container" class="container-fluid" style="padding-top:10px;height:86vh;overflow-y:hidden">

    <div class="info-box bg-dark">
        <div class="info-box-content">
            <h3 class="info-box-text">JOB VIEW</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <div class="info-box bg-dark" style="width:100%">
                <div class="info-box-content row">
                    <div class="col-4 text-center">
                        <label class="info-box-text" for="ProjectYears" style="height:100%">Year</label>
                    </div>
                    <div class="col-8">
                        <select class="form-control" id="ProjectYears" style="width:100%">
                            @* Generate By JavaScript *@
                        </select>
                    </div>
                </div>
            </div>

            <div class="info-box bg-dark" style="height:90px">
                <div class="info-box-content text-center">
                    <h3 class="info-box-text">
                        Job Lists
                    </h3>
                </div>
            </div>

            <div id="div_selection" style="height:59vh;overflow-y:scroll">
                <ul id="pj_lists" class="list-group">
                </ul>
            </div>

        </div>
        <div class="col-10">
            <div class="info-box bg-dark" style="width:100%;">
                <div class="info-box-content">
                    <div class="row">
                        <div class="col-3">
                            <h4 id="job_id" class="info-box-text">
                                Please Select Job
                            </h4>
                        </div>
                        <div class="col-9">
                            <h4 id="job_name" class="info-box-text">
                                
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div id="ib_progress" class="info-box bg-dark" style="height:90px;display:none">
                        <i class="fas fa-chart-line info-box-icon bg-teal"></i>
                        <div class="info-box-content">
                            <span class="info-box-text" style="font-weight:bold">Progress</span>
                            <div class="progress bg-white">
                                <div id="pb_progress" class="progress-bar bg-teal" style="width:80%"></div>
                            </div>
                            <span id="pb_progress_description" class="progress-description">
                                80% Completion
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div id="ib_spent" class="info-box bg-dark" style="height:90px;display:none">
                        <i class="fas fa-money-bill-wave info-box-icon bg-lightblue"></i>
                        <div class="info-box-content">
                            <span class="info-box-text">Budget Spent</span>
                            <span id="spent_number" class="info-box-number">75/100</span>
                            <div class="progress bg-white">
                                <div id="pb_spent" class="progress-bar bg-lightblue" style="width:75%"></div>
                            </div>
                            <span id="pb_spent_description" class="progress-description">
                                75% Spent
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div id="ib_remain" class="info-box bg-dark" style="height:90px;display:none">
                        <i class="fas fa-coins info-box-icon bg-danger"></i>
                        <div class="info-box-content">
                            <span class="info-box-text">Budget Remain</span>
                            <span id="ib_remain_number" class="info-box-number">25/100</span>
                            <div class="progress bg-white">
                                <div id="pb_remain" class="progress-bar bg-danger" style="width:25%"></div>
                            </div>
                            <span id="pb_remain_description" class="progress-description">
                                25% of Budget left
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div id="ib_labor" class="info-box bg-dark" style="height:90px;display:none">
                        <i class="fas fa-users info-box-icon bg-warning"></i>
                        <div class="info-box-content">
                            <span class="info-box-text">Manpower Per Hour</span>
                            <span id="ib_labor_number" class="info-box-number">22</span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="div_content" style="height:59vh;overflow-y:scroll;display:none">
                <div class="card card-dark">
                    <div class="card-header">
                        <span class="card-title">
                            Spent Per Fortnight
                        </span>
                    </div>
                    <div class="card-body">
                        <canvas id="canvas_1" style="height:400px"></canvas>
                    </div>
                </div>

                <div class="card card-dark">
                    <div class="card-header">
                        <span class="card-title">
                            Manpower Per Hour
                        </span>
                    </div>
                    <div class="card-body">
                        <canvas id="canvas_2" style="height:400px"></canvas>
                    </div>
                </div>

                <div class="card card-dark">
                    <div class="card-header">
                        <span class="card-title">
                            Normal Per Overtime Ratio
                        </span>
                    </div>
                    <div class="card-body">
                        <canvas id="canvas_4" style="height:400px"></canvas>
                    </div>
                </div>

                <br />
            </div>

        </div>
    </div>

</div>

@section Scripts
{
    <script type="text/javascript">
        var list_job_id = [];
        $(document).ready(function () {
            SetScreenSize();
            GenerateYearOption();
            GetJobID();
        });

        $(window).resize(function () {
            SetScreenSize();
        })

        function SetScreenSize() {
            var view_height = $(window).height();
            if (window.innerHeight == screen.height) {
                $('#div_container').height(view_height * 0.86);
                $('#div_selection').height(view_height * 0.59);
                $('#div_content').height(view_height * 0.59);
            }
            else {
                $('#div_container').height(view_height * 0.85);
                $('#div_selection').height(view_height * 0.54);
                $('#div_content').height(view_height * 0.54);
            }
        }

        function GenerateYearOption() {
            $('#ProjectYears').find('option').remove();
            var str = '<option selected>ALL</option>';
            var current_year = new Date();
            for (var i = 0; i < 10; i++) {
                var year = parseInt(current_year.getFullYear()) - i;
                str += '<option value="' + year + '">' + year + '</option>';
            }
            $('#ProjectYears').append(str);
        }

        $('#ProjectYears').on('change', function () {
            GetJobID();
        });

        var jobs = [];
        function GetJobID() {
            var year = $('#ProjectYears').val();
            if (year == "ALL") {
                console.log("Get All Job");
                $.ajax({
                type: "GET",
                url: '@Url.Action("GetJobs", "ProjectView")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    console.log("Response");
                    console.log(response);
                    jobs = response;
                    GenProjectOptions();
                }
            });
            }
            else {
                console.log("Get Job in " + year);
                $.ajax({
                type: "GET",
                url: '@Url.Action("GetJobsByYear", "ProjectView")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {
                    year
                },
                success: function (response) {
                    console.log("Response");
                    console.log(response);
                    jobs = response;
                    GenProjectOptions();
                }
            });
            }
        }

        function GenProjectOptions() {
            $('#pj_lists').empty();
            var str = '';
            for (var i = 0; i < jobs.length; i++) {
                str += '<li class="list-group-item" style="padding:1px">';
                str += '<button type="button" class="btn form-control" style="background-color:rgba(40,121,191,1);color:rgba(255,255,255,1)" onclick=ViewJobData("' + jobs[i].job_id + '")>';
                str += jobs[i].job_id + '</button >';
                str += '</li>';
            }
            $('#pj_lists').append(str);
        }

        function ViewJobData(job_id) {
            var index = -1;
            for (var i = 0; i < jobs.length; i++) {
                if (jobs[i].job_id == job_id)
                    index = i;
            }
            $('#job_id').html("JOB NUMBER: " + jobs[index].job_number);
            $('#job_name').html("JOB NAME: " + jobs[index].job_name);
            GetJobProgress(job_id);
            $('#div_content').show();
            GetHalfMonthSpent(job_id);
            GetManPower(job_id);
            GetNormalOvertimeRatio(job_id);
        }

        function GetJobProgress(job_id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetJobProgress", "ProjectView")',
                contentType: 'application/x-www-form-urlencoded',
                data: {
                    job_id
                },
                success: function (response) {
                    console.log("Progress");
                    console.log(response);
                    //Progress
                    var percentage_progress = response[0].work_completion + "%";
                    $('#ib_progress').show();
                    $('#pb_progress').width(percentage_progress);
                    $('#pb_progress_description').html(percentage_progress + " Work Completion");

                    //Spent
                    var percentage_spent = response[0].cost_usage;
                    $('#ib_spent').show();
                    $('#spent_number').html(response[0].cost_to_date + "/" + response[0].estimated_budget);
                    $('#pb_spent').width(percentage_spent + "%");
                    $('#pb_spent_description').html(percentage_spent + "% Budget Spent");

                    //Remain
                    var percentage_remain = Math.round((response[0].remainning_cost / response[0].estimated_budget) * 100);
                    $('#ib_remain').show();
                    $('#ib_remain_number').html(response[0].remainning_cost + "/" + response[0].estimated_budget);
                    $('#pb_remain').width(percentage_remain + "%");
                    $('#pb_remain_description').html(percentage_remain + "% Budget Remain");

                    //Labor
                    $('#ib_labor').show();
                    $('#ib_labor_number').html(response[0].no_of_labor);
                }
            });
        }

        function GetHalfMonthSpent(job_id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetHalfMonthSpent", "ProjectView")',
                contentType: 'application/x-www-form-urlencoded',
                data: {
                    job_id
                },
                success: function (response) {
                    console.log("Half Month Spent");
                    console.log(response);
                    GenSPFChart(response);
                }
            });
        }

        function GetManPower(job_id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetManPower", "ProjectView")',
                contentType: 'application/x-www-form-urlencoded',
                data: {
                    job_id
                },
                success: function (response) {
                    console.log("Man Power");
                    console.log(response);
                    GenMPHChart(response);
                }
            });
        }

        function GetNormalOvertimeRatio(job_id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetNormalOvertimeRatio", "ProjectView")',
                contentType: 'application/x-www-form-urlencoded',
                data: {
                    job_id
                },
                success: function (response) {
                    console.log("Normal Overtime Ratio");
                    console.log(response);
                    GenNPOChart(response);
                }
            });
        }

        //Spent per 15 days
        function GenSPFChart(job) {
            var ctx = document.getElementById('canvas_1').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['JAN 1', 'JAN 2', 'FEB 1', 'FEB 2', 'MAR 1', 'MAR 2'],
                    datasets: [
                        {
                            label: 'Spent Per Fortnight',
                            type: 'line',
                            data: [1, 2, 1, 2, 1, 1],
                            backgroundColor: 'rgba(40,121,191,1)',
                            borderColor: 'rgba(40,121,191,1)',
                        },
                        {
                            label: 'Spent Total',
                            type: 'line',
                            data: [1, 3, 4, 6, 7, 8],
                            backgroundColor: 'rgba(32,67,298,1)',
                            borderColor: 'rgba(32,67,298,1)',
                        },
                        {
                            label: 'Progress',
                            type: 'line',
                            data: [0, 3.3, 5.1, 7.4, 8.5, 10],
                            backgroundColor: 'rgba(0,255,0,1)',
                            borderColor: 'rgba(0,255,0,1)',
                        },
                        {
                            label: '50% Budget',
                            type: 'line',
                            data: [5, 5, 5, 5, 5, 5],
                            backgroundColor: 'rgba(255,255,0,0.2)',
                            borderColor: 'rgba(255,255,0,0.2)',
                        },
                        {
                            label: '80% Budget',
                            type: 'line',
                            data: [8, 8, 8, 8, 8, 8],
                            fill: {
                                value: 7,
                                above: 'rgba(255,165,0,0.2)',
                                below: 'rgba(255,255,0,0)'
                            },
                            borderColor: 'rgba(255,165,0,0.2)',
                            backgroundColor: 'rgba(255,165,0,0.2)'
                        },
                        {
                            label: 'Maximum Budget',
                            type: 'line',
                            data: [10, 10, 10, 10, 10, 10],
                            fill: {
                                value: 8,
                                above: 'rgba(255,0,0,0.2)',
                                below: 'rgba(255,0,0,0)'
                            },
                            borderColor: 'rgba(255,0,0,0.2)',
                            backgroundColor: 'rgba(255,0,0,0.2)'
                        }
                    ],
                },
                options: {
                    scales: {
                        xAxes: [
                            {
                                max: 7,
                                min: -1,
                                ticks: {
                                    stepSize: 0.5
                                }
                            }
                        ],
                        yAxes: [
                            {
                                ticks: {
                                    beginAtZero: true
                                }
                            },
                        ]
                    },
                    maintainAspectRatio: false
                }
            });
        }

        //Manpower per hour
        function GenMPHChart(job) {
            var ctx2 = document.getElementById('canvas_2').getContext('2d');
            var chart2 = new Chart(ctx2, {
                type: 'bar',
                data: {
                    labels: ['JAN 1', 'JAN 2', 'FEB 1', 'FEB 2', 'MAR 1', 'MAR 2'],
                    datasets: [
                        {
                            label: 'Normal',
                            data: [10, 9, 10, 11, 7, 6],
                            backgroundColor: 'rgba(32,67,198,1)'
                        },
                        {
                            label: 'Overtimes',
                            data: [4, 3.5, 2.5, 1, 1.5, 0.5],
                            backgroundColor: 'rgba(40,121,191,1)'
                        }
                    ],
                },
                options: {
                    scales: {
                        xAxes: [
                            {
                                stacked: true
                            }
                        ],
                        yAxes: [
                            {
                                ticks: {
                                    beginAtZero: true
                                },
                                stacked: true
                            },
                        ]
                    },
                    maintainAspectRatio: false
                }
            });
        }

        //Normal Overtime Ratio
        function GenNPOChart(job) {
            var ctx4 = document.getElementById('canvas_4').getContext('2d');
            var chart4 = new Chart(ctx4, {
                type: 'doughnut',
                data: {
                    labels: ['Overtime', 'Normal'],
                    datasets: [{
                        data: [40, 200],
                        backgroundColor: [
                            'rgba(32,67,198,1)',
                            'rgba(40,121,191,1)'
                        ],
                        borderColor: [
                            'rgba(32,67,198,0)',
                            'rgba(40,121,191,0)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem) {
                                return (Number(tooltipItem.yLabel) / 240) * 100 + "%";
                            }
                        }
                    }
                }
            });
        }

    </script>
}