<!-- Home Index -->
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid" style="padding-top:10px">

    <div class="info-box bg-dark">
        <div class="info-box-content">
            <h3 class="info-box-text">JOB SPENT</h3>
        </div>
    </div>
    
    <div id="projects">
        @* Generate by JavaScript *@
    </div>

</div>

@section Scripts
{
    <script type="text/javascript">
        var months = [ "JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC" ];
        $(document).ready(function () {
            GetSpentCostPerWeeks();
        });

        async function GetSpentCostPerWeeks() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetSpentCostPerWeeks", "Home")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    GenSpentChart(response);
                }
            });
        }

        function GenSpentChart(jobs) {
            console.log(jobs);
            for (var i = 0; i < jobs.length; i++) {
                var job_year = jobs[i][0].job_id.substring(0, 3);
                var job_number = jobs[i][0].job_id.substring(4, jobs[i][0].job_id.length);
                var job_id = job_year + '-' + job_number.padStart(4, '0');

                var str = '<div class="card card-dark"><div class="card-header">';
                str += '<span class="card-title">JOB ID: ' + job_id + '</span></div>';
                str += '<div class="card-body"><canvas id="' + job_id + '" style="height:40vh;width:100%"></canvas>';
                str += '</div></div>';
                $('#projects').append(str);

                var weeks = [];
                var budget50 = [];
                var budget70 = [];
                var budget80 = [];
                var budget100 = [];
                var budget150 = [];
                var acc_cost = [];
                var acc_work_completion = [];
                var spent_cost = [];
                var work_completion = [];
             
                for (var j = 0; j < jobs[i].length; j++) {
                    var week = months[jobs[i][j].month] + ' ' + jobs[i][j].week; 
                    weeks.push(week);
                    budget50.push(jobs[i][j].budget50);
                    budget70.push(jobs[i][j].budget70);
                    budget80.push(jobs[i][j].budget80);
                    budget100.push(jobs[i][j].budget100);
                    budget150.push(jobs[i][j].budget100 * 1.2);
                    acc_cost.push(jobs[i][j].acc_cost);
                    acc_work_completion.push(jobs[i][j].acc_work_completion);
                    spent_cost.push(jobs[i][j].spent_cost);
                    work_completion.push(jobs[i][j].work_completion);
                }

                var ctx = document.getElementById(job_id).getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: weeks,
                        datasets: [
                            {
                                type: 'bar',
                                label: 'Budget Spent',
                                data: spent_cost,
                                backgroundColor: 'rgba(255,0,0,1)',
                                borderColor: 'rgba(255,0,0,1)',
                                yAxisID:'spent',
                            },
                            {
                                type: 'line',
                                label: "Total Spent",
                                data: acc_cost,
                                backgroundColor: 'rgba(0, 0, 255, 1)',
                                borderColor: 'rgba(0, 0, 255, 1)',
                                yAxisID: 'spent',
                            },
                            {
                                label: 'Progress',
                                data: work_completion,
                                type: 'line',
                                backgroundColor: 'rgba(0,255,0,1)',
                                borderColor: 'rgba(0,255,0,1)',
                                yAxisID: 'progress',
                            },
                            {
                                label: 'Total Progress',
                                type: 'line',
                                data: acc_work_completion,
                                backgroundColor: 'rgba(0, 255, 0, 0.75)',
                                borderColor: 'rgba(0, 255, 0, 0.75)',
                                yAxisID: 'progress',
                            },
                            {
                                type: 'line',
                                label: "70% Budget",
                                data: budget70,
                                fill: false,
                                backgroundColor: 'rgba(255,255,255,0.2)',
                                borderColor: 'rgba(255, 255, 0, 0.3)',
                            },
                            {
                                type: 'line',
                                label: "80% Budget",
                                data: budget80,
                                fill: {
                                    value: budget100[0] * 0.7,
                                    above: 'rgba(255,200,50,0.2)',
                                    below: 'rgba(255, 255, 255,0)',
                                },
                                borderDash: [10, 5],
                                borderColor: ['rgba(255, 200, 50, 0)'],
                            },
                            {
                                type: 'line',
                                label: '100% of Budget',
                                data: budget100,
                                fill: {
                                    value: budget100[0] * 0.8,
                                    above: 'rgba(255,0,0,0.2)',
                                    below: 'rgba(255, 255, 255,0)',
                                },
                                borderDash: [10, 5],
                                borderColor: ['rgba(255, 0, 0, 0)'],
                            },
                            {
                                type: 'line',
                                label: '> 100% of Budget',
                                data: budget150,
                                fill: {
                                    value: budget100[0],
                                    above: 'rgba(255,0,0,0.5)',
                                    below: 'rgba(255, 255, 255,0)',
                                },
                            },
                        ]
                    },
                    options: {
                        scales: {
                            'spent': {
                                type: 'linear',
                                position: 'left',
                                title: {
                                    display: true,
                                    text: 'Spent(BAHT)'
                                },
                                beginAtZero:true
                            },
                            'progress': {
                                type: 'linear',
                                position: 'right',
                                title: {
                                    display: true,
                                    text: 'Progress(%)'
                                },
                                beginAtZero: true,
                            }
                        },
                        maintainAspectRatio: false,
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    var ds_index = tooltipItem.datasetIndex;
                                    var t_index = tooltipItem.index;
                                    var max_budget = data.datasets[2].data[0];
                                    return data.datasets[ds_index].label + ': ' + parseInt((data.datasets[ds_index].data[t_index] / max_budget) * 100) + ' %';
                                }
                            }
                        }
                    }
                });
            }
        }

        async function GetEmps() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetEmployees", "Home")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    console.log("Employees");
                    console.log(response);
                }
            });
        }

        async function GetHours() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetHours", "Home")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    console.log("Hours");
                    console.log(response);
                }
            });
        }

        async function GetJobs() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetJobs", "Home")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    console.log("Jobs");
                    console.log(response);
                }
            });
        }

        async function GetLaborCosts() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetLaborCosts", "Home")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    console.log("LaborCosts");
                    console.log(response);
                }
            });
        }

        async function GetOvertimes() {
            await $.ajax({
                type: "GET",
                url: '@Url.Action("GetOvertimes", "Home")',
	            contentType: 'application/x-www-form-urlencoded',
                data: {

                },
                success: function (response) {
                    console.log("Overtimes");
                    console.log(response);
                }
            });
        }

    </script>
}